@font-face {
  font-family: "Museo Sans Cyrl 500";
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500"),
    url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-500.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl 900";
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: local("MuseoSansCyrl-900"),
    url("../fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-900.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl 700";
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"),
    url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl 300";
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"),
    url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-300.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl 100";
  src: url("../fonts/MuseoSansCyrl-100.eot");
  src: local("MuseoSansCyrl-100"),
    url("../fonts/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-100.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-100.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

$font100: "Museo Sans Cyrl 100";
$font300: "Museo Sans Cyrl 300";
$font500: "Museo Sans Cyrl 500";
$font700: "Museo Sans Cyrl 700";
$font900: "Museo Sans Cyrl 900";

body {
  font-family: "Museo Sans Cyrl 300";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Museo Sans Cyrl 700";
}

h2.title {
  font-size: 2.2rem;
  margin: 0 auto;
  text-align: center;
  color: #3d3d3d;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @media screen and (max-width: 560px) {
    font-size: 1.6rem;
    max-width: 200px;
  }
}

h2.subtitle {
  font-size: 1.6rem;
  margin: 0 auto;
  text-align: center;
  color: #3d3d3d;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 920px;
  @media screen and (max-width: 560px) {
    font-size: 1.2rem;
    max-width: 360px;
    width: 100%;
  }
}
p.subtitle {
  font-size: 1.2rem;
  font-family: $font700;
  margin: 0 auto;
  text-align: center;
  color: #3d3d3d;
  margin-bottom: 2rem;
  max-width: 920px;
  @media screen and (max-width: 560px) {
    font-size: 1rem;
    max-width: 360px;
    width: 100%;
  }
}
