.swal2-popup {
  max-width: 420px !important;
  width: 100% !important;
  overflow-x: hidden;
  overflow-y: auto;
  .swal2-close {
    position: absolute;
    right: 0;
    top: 0;
  }
  .swal2-html-container {
    margin: 3rem 3rem 0.8rem 3rem !important;
    overflow: visible;
    font-size: 1rem;
    // Windows
    .phone-container {
      span,
      p,
      a {
        font-family: $font500;
      }
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        img {
          margin-right: 10px;
        }
      }
      div.phone {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          top: calc(100% + 1rem);
          left: 50%;
          transform: translateX(-50%);
          background: #969595;
          width: 25px;
          height: 1px;
        }
        &:nth-child(4n) {
          &::after {
            display: none;
          }
        }
        .title {
          font-size: 1rem;
          color: $color_green_light;
          margin: 0;
          margin-bottom: 4px;
        }
        a.phone {
          font-size: 1.2rem;
          transition: all 0.3s;
          &:hover {
            color: $color__blue;
          }
        }
      }
      div.open {
        p {
          margin: 0;
          font-family: $font300;
          &.title {
            font-size: 0.9rem;
            margin-bottom: 4px;
          }
        }
      }
    }

    .auth-register {
      display: flex;
      flex-direction: column;
      label {
        width: max-content;
        margin-bottom: 6px;
        font-family: $font500;
        span {
          color: red;
        }
      }
      .grid {
        width: 100%;
        display: grid;
        grid-template: auto / repeat(2, calc(50% - 0.5rem));
        gap: 1rem;
        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          label {
            margin-bottom: 6px;
          }
          input {
            width: 100%;
          }
        }
      }
      input:not([type="submit"]) {
        height: 50px;
        background: #f9f9f9;
        border: 0.5px solid #898989;
        border-radius: 15px;
        font-size: 1rem;
        padding-left: 15px;
        margin-bottom: 1rem;
      }
      input[type="submit"] {
        width: 100%;
        height: 50px;
        background: linear-gradient(90.6deg, #0f9502 19.86%, #39ac2d 81.94%);
        border-radius: 15px;
        font-family: $font700;
        font-size: 1.1rem;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in;
        &:hover {
          transform: scale(1.05);
          box-shadow: 4px 4px 0px #b8ceff;
        }
      }
    }

    .auth-container {
      div.title {
        margin-bottom: 1rem;
        p {
          margin: 0;
          font-family: $font700;
          font-size: 1.4rem;
        }
      }
      .break {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          margin: 0;
          position: relative;
          width: 3rem;
          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 1px;
            background: #898989;
          }
          &::before {
            right: calc(100% + 10px);
          }
          &::after {
            left: calc(100% + 10px);
          }
        }
      }
      .social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 10px 0;
        a {
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: all 0.5s;
          }
          &:hover {
            img {
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
              transform: scale(0.95);
            }
          }
        }
      }
      div.form {
        margin-top: 1rem;
        form.auth-register {
          button#forgot {
            border: none;
            background: none;
            text-align: right;
            color: $color__blue;
            margin-bottom: 1rem;
            &:hover {
              text-decoration: underline;
            }
          }
          .warning {
            margin: 0;
            margin-top: 4px;
            text-align: center;
            font-size: 0.8rem;
            font-family: $font500;
            a {
              color: $color__blue;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        p.question {
          margin: 0;
          margin-top: 1rem;
          display: flex;
          align-items: center;
          font-size: 0.9rem;
          line-height: 0.9rem;
          text-align: center;
          justify-content: center;
          font-family: $font700;
          button {
            border: none;
            padding: 0;
            background: none;
            color: $color__blue;
            line-height: 0.9rem;
            font-size: 0.9rem;
            margin-left: 2pt;
            font-family: $font700;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .forgot-container,
    .specialist-container {
      div.title {
        margin-bottom: 1rem;
        p {
          margin: 0;
          font-family: $font700;
          font-size: 1.4rem;
        }
      }
      .specialist {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        img.specialist-photo {
          margin-right: 1rem;
          width: 50px;
          border-radius: 50%;
        }
        p.specialist-name {
          margin: 0;
        }
      }
    }
  }
}
