main[data-page="contact"] {
  section {
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }
  section.contacts {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 6rem;
    @media screen and (max-width: 1200px) {
      gap: 4rem;
    }
    @media screen and (max-width: 960px) {
      column-gap: 3rem;
    }
    @media screen and (max-width: 480px) {
      gap: 2rem;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      div.title,
      div.phone,
      div.column {
        width: 210px;
        @media screen and (max-width: 240px) {
          width: 100%;
        }
      }
    }
    div.title {
      display: flex;
      align-items: center;
      align-self: center;
      img {
        margin-right: 10px;
      }
      span {
        font-size: 1.1rem;
        font-family: $font700;
      }
    }
    div.phone {
      display: flex;
      flex-direction: column;
      p,
      a {
        font-family: $font700;
        margin: 0;
      }
      p.title {
        color: #0f9502;
        font-size: 1rem;
        margin-bottom: 6px;
      }
      a[href^="tel"] {
        margin-bottom: 4px;
        &:last-child {
          margin: 0;
        }
      }
    }
    div.open {
      p,
      a {
        margin: 0;
        font-family: $font700;
      }
      p.title {
        color: #0f9502;
        font-size: 1rem;
        margin-bottom: 6px;
      }
    }
    div.column {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  }
  section.socials {
    .container {
      @media screen and (max-width: 960px) {
        padding: 0 !important;
      }
    }
  }
  section.map {
    iframe {
      border-radius: 30px;
    }
  }
}
