main[data-page="employee"] {
  section.employee-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .employee {
      width: auto;
      max-width: 360px;
      height: auto;
      display: flex;
      @media screen and (max-width: 580px) {
        max-width: unset;
      }
      .box-container {
        background: $color__white;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        min-height: calc(500px - 44px);
        width: calc(100% - 4px);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .name {
          display: flex;
          flex-direction: inherit;
          align-items: center;
          img {
            border-radius: 50%;
          }
          p {
            font-size: 1.2rem;
            font-family: $font500;
            max-width: 200px;
            text-align: center;
            margin: 1rem 0;
          }
        }
        .about {
          p {
            text-align: center;
            margin: 0;
          }
        }
      }
    }
  }
}
