section.services {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: space-between;
  @media screen and (max-width: 960px) {
    gap: 1rem;
  }

  .service {
    width: calc(33.3% - 2rem);
    grid-area: service;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 20px;
    transition: 1s;
    &:hover {
      transition: all 0.5s;
      box-shadow: 0 -10px 10px #3aac2d20;
      filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.15));
    }
    @media screen and (max-width: 960px) {
      gap: 0.5rem;
      width: calc(50% - 0.5rem);
    }
    .preview {
      display: flex;
      align-items: center;
      gap: 1.4rem;
      @media screen and (max-width: 580px) {
        flex-direction: column;
      }
      h4 {
        font-family: "Museo Sans Cyrl 700";
        font-size: 1.4rem;
        @media screen and (max-width: 1200px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 580px) {
          margin: 0;
          text-align: center;
        }
      }
      img {
        @media screen and (max-width: 1200px) {
          width: 60px;
        }
      }
    }
    .info {
      @media screen and (max-width: 580px) {
        display: none;
      }
    }
  }
  .service.long {
    grid-area: long-service;
    width: calc(66.6% - 1rem);
    display: inline-flex;
    gap: 2rem;
    @media screen and (max-width: 960px) {
      gap: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    @media screen and (max-width: 580px) {
      background: none;
      box-shadow: none;
      padding: 0;
    }
    .column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .preview {
        display: flex;
        align-items: center;
        gap: 1.4rem;
        transition: all 0.5s;
        h4 {
          font-family: "Museo Sans Cyrl 700";
          font-size: 1.4rem;
          @media screen and (max-width: 1200px) {
            font-size: 1rem;
          }
        }
        &.thin {
          h4 {
            font-family: "Museo Sans Cyrl 300";
          }
        }
        &:hover {
          transform: scale(0.9);
        }
      }
      @media screen and (max-width: 1200px) {
        a[type="button"] {
          padding: 0 20px;
        }
      }
      @media screen and (max-width: 960px) {
        &:first-child {
          width: 100%;
          flex-direction: row;
          gap: 2rem;
          a {
            width: 50%;
            .preview {
              h4 {
                font-size: 1.2rem;
                margin: 0;
              }
            }
          }
        }
        &:last-child {
          width: 100%;
          flex-direction: row;
          gap: 2rem;
          justify-content: unset;
          margin-top: 2rem;
          p {
            margin: 0;
            width: 50%;
          }
        }
      }
      @media screen and (max-width: 580px) {
        &:first-child {
          flex-direction: column;
          gap: 1rem;
          a {
            width: 100%;
            .preview {
              background: $color__white;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
              padding: 20px;
              flex-direction: row;
              border-radius: 20px;
              &:hover {
                transform: none;
              }
            }
          }
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
}
