main[data-page="training"] {
  section.courses {
    margin-bottom: 4rem;
    ul.course-list {
      display: grid;
      grid-template: auto / repeat(3, 1fr);
      gap: 2rem;
      @media screen and (max-width: 960px) {
        grid-template: auto / repeat(2, 1fr);
      }
      @media screen and (max-width: 580px) {
        grid-template: auto / 1fr;
      }
      li.course-card {
        background: $color__white;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        p.title {
          margin: 0;
          font-family: $font700;
          font-size: 1.2rem;
          text-align: center;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
